/* ベース */

body {
  font-family: sans-serif;
}

/* レイアウト */

.ly_cont {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
}

/* モジュール */

.bl_media {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
}

.bl_media__rev {
  flex-direction: row-reverse;
  text-align: right;
}

.bl_media__rev .bl_media_imageWrapper {
  margin-right: 0;
}

.bl_media__rev .bl_media_body {
  margin-right: 3.3333%;
}

.bl_media_imageWrapper {
  flex: 1 1 25%;
  margin-right: 3.33333%;
}

.bl_media_imageWrapper img {
  width: 100%;
  vertical-align: top;
}

.bl_media_body {
  flex: 1 1 68.3%;
}

.bl_media_tile {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.sub-title {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #555555;
  font-size: 16px;
}

.bl_media_body>span {
  color: #555555;
  font-size: 14px;
}

.same {
  width: 100px;
}
